*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', 'Tahome';
}
body{
    background-color: rgb(243, 195, 132);
}
textarea{
    width: 65%;
    height: 330px;
    margin-left: 15%;
    margin-top: 4%;
    justify-content: center;
    align-items: center;
    font-size: 1.85rem;
}
.result{
    text-align: center;
}
.btn{
    width: 12%;
    height: 30px;
    background-color: tan;
    margin-left: 45%;
    margin-bottom: 1.5%;
}
.nos, .spm{
    padding-top: 1%;
}
.age{
    width: 42px;
    height: 25px;
    background-color: white;
    font-size: 1.3rem;
    font-family: monospace;
    text-align: center;
    margin: auto;
    margin-top: 1%;
    margin-bottom: 0.5%;
}
footer{
    background-color: bisque;
    padding: 1%;
    margin-top: 0.35%;
}
footer p{
    text-align: center;
}
